fastapi==0.124.0
uvicorn[standard]==0.38.0
httpx==0.28.1
pydantic==2.12.5
pydantic-settings==2.12.0
python-dotenv==1.2.1
python-multipart==0.0.20
openai==2.9.0
mistralai==1.9.11
sqlalchemy==2.0.44
asyncpg==0.31.0
pgvector==0.4.2
alembic==1.17.2
greenlet==3.3.0

